<!-- day1 lab -->
<!-- <app-header></app-header>
<div class="container-fluid p-0">
  <section class="row">
    <app-home class="col-10"></app-home>
    <app-sidebar class="col-2"></app-sidebar>
  </section>
</div>
<app-footer></app-footer> -->

<!-- day3 lab -->
<app-header></app-header>
<app-product-cart style="background-color:blueviolet;"></app-product-cart>
<div class="container-fluid p-0">
  <section class="row">
    <app-product-list class="col-9"></app-product-list>
    <app-favourite-product class="col-3" style="background-color:darkcyan;"></app-favourite-product>
  </section>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- day4 lab -->

<!-- <app-template-form></app-template-form> -->

<!-- day2 lab -->
<!-- <app-todo></app-todo> -->
